body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient( yellow, blue);
}

.hello{
    font-size: 10rem;
    color:rgb(184, 0, 101);
}

.commit{
    font-size: 3rem;
    color:rgb(0, 28, 184);
}